.app {

  &__inner {
    display: flex;
    align-items: center;
    text-align: left;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 380px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    width: 100%;
  }
  
  &_title {
    text-align: left;
    margin-bottom: 45px;
  }

  &__txt {
    margin-bottom: 30px;
  }

  &__links {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

}